
html,body,a,h1,h2,h3,h4,h5,p,a,span,dv {font-family: Myriad!important}


.set-margin{margin-top:-60px}

.w3-button, .w3-btn{outline-style: none}

.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;height: 100vh;min-height: 550px}

.bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%}

.bgimg-6  {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%}

.hexagon-300 {
  position: relative;
  width: 150px; 
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon-300:before,
.hexagon-300:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  left: 0px
}

.hexagon-300:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon-300:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

.hexagon-130-border {
  position: relative;
  width: 130px; 
  height: 75.06px;
  margin: 37.53px 0;
  border-left: solid 5px #67fdd0;
  border-right: solid 5px #67fdd0;
}

.hexagon-130-border:before,
.hexagon-130-border:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 91.92px;
  height: 91.92px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 14.0381px;
}

.hexagon-130-border:before {
  top: -45.9619px;
  border-top: solid 7.0711px #67fdd0;
  border-right: solid 7.0711px #67fdd0;
}

.hexagon-130-border:after {
  bottom: -45.9619px;
  border-bottom: solid 7.0711px #67fdd0;
  border-left: solid 7.0711px #67fdd0
}

.img-hex-130{width: 100px;margin-top: -17px;margin-left: 1px}


.w3-aqua-green{background: #67FDD0}
.w3-text-aqua-green{color: #67FDD0!important}
.w3-text-aqua-green-hover{border-bottom:3px solid transparent}
.w3-text-aqua-green-hover:hover{border-bottom:3px solid black}
.w3-border-aqua-green{border: 1px solid #67FDD0}
.w3-hover-aqua-green:hover{color:#000!important;background-color:#67FDD0!important}
.center-circle-100{margin:0 auto;height: 175px;width: 175px}
.center{margin:0 auto}

.hexagon-110-1, .hexagon-110-2, .hexagon-110-3, .hexagon-110-4, .hexagon-110-5,.hexagon-110-5,.hexagon-110-6,.hexagon-110-7,.hexagon-110-8,.hexagon-110-9,.hexagon-110-10,.hexagon-110-11,.hexagon-110-12,.hexagon-110-13,.hexagon-110-14,.hexagon-110-15,.hexagon-110-16,.hexagon-110-17 {position: relative;width: 110px;height: 63.51px;bottom:-118px;margin: 0 auto}
.hexagon-110-1:before,.hexagon-110-1:after, .hexagon-110-2:before,.hexagon-110-2:after,.hexagon-110-3:before,.hexagon-110-3:after,.hexagon-110-4:before,.hexagon-110-4:after,.hexagon-110-5:before,.hexagon-110-5:after,.hexagon-110-6:before,.hexagon-110-6:after,.hexagon-110-7:before,.hexagon-110-7:after,.hexagon-110-8:before,.hexagon-110-8:after,.hexagon-110-9:before,.hexagon-110-9:after,.hexagon-110-10:before,.hexagon-110-10:after,.hexagon-110-11:before,.hexagon-110-11:after,.hexagon-110-12:before,.hexagon-110-12:after,.hexagon-110-13:before,.hexagon-110-13:after,.hexagon-110-14:before,.hexagon-110-14:after,.hexagon-110-15:before,.hexagon-110-15:after,.hexagon-110-16:before,.hexagon-110-16:after, .hexagon-110-17:before,.hexagon-110-17:after{
  content: "";position: absolute;width: 0;border-left: 55px solid transparent;border-right: 55px solid transparent}

.hexagon-110-1:before,.hexagon-110-2:before,.hexagon-110-3:before,.hexagon-110-4:before, .hexagon-110-5:before,.hexagon-110-6:before,.hexagon-110-7:before,.hexagon-110-8:before,.hexagon-110-9:before,.hexagon-110-10:before,.hexagon-110-11:before,.hexagon-110-12:before,.hexagon-110-13:before,.hexagon-110-14:before,.hexagon-110-15:before,.hexagon-110-16:before,.hexagon-110-17:before{bottom: 100%;left: 0}
.hexagon-110-1:after,.hexagon-110-2:after,.hexagon-110-3:after,.hexagon-110-4:after,.hexagon-110-5:after,.hexagon-110-6:after,.hexagon-110-7:after,.hexagon-110-8:after,.hexagon-110-9:after,.hexagon-110-10:after,.hexagon-110-11:after,.hexagon-110-12:after,.hexagon-110-13:after,.hexagon-110-14:after,.hexagon-110-15:after,.hexagon-110-16:after,.hexagon-110-17:after {top: 100%;width: 0;left: 0}

.hexagon-110-1{background-color: #86befb}
.hexagon-110-1:before {border-bottom: 31.75px solid #86befb}
.hexagon-110-1:after {border-top: 31.75px solid #86befb}
.hexagon-110-2 {background-color: #FF7B00}
.hexagon-110-2:before {border-bottom: 31.75px solid #FF7B00}
.hexagon-110-2:after {border-top: 31.75px solid #FF7B00}
.hexagon-110-3 {background-color: #ff58a0}
.hexagon-110-3:before {border-bottom: 31.75px solid #ff58a0}
.hexagon-110-3:after {border-top: 31.75px solid #ff58a0}
.hexagon-110-4 {background-color: #d473f8}
.hexagon-110-4:before {border-bottom: 31.75px solid #d473f8}
.hexagon-110-4:after {border-top: 31.75px solid #d473f8}
.hexagon-110-5 {background-color: #101152}
.hexagon-110-5:before {border-bottom: 31.75px solid #101152}
.hexagon-110-5:after {border-top: 31.75px solid #101152}
.hexagon-110-6{background-color: #84cd62}
.hexagon-110-6:before {border-bottom: 31.75px solid #84cd62}
.hexagon-110-6:after {border-top: 31.75px solid #84cd62}
.hexagon-110-7{background-color: #2f0300}
.hexagon-110-7:before {border-bottom: 31.75px solid #2f0300}
.hexagon-110-7:after {border-top: 31.75px solid #2f0300}
.hexagon-110-8{background-color: #40871d}
.hexagon-110-8:before {border-bottom: 31.75px solid #40871d}
.hexagon-110-8:after {border-top: 31.75px solid #40871d}
.hexagon-110-9{background-color: #E9E9E9}
.hexagon-110-9:before {border-bottom: 31.75px solid #E9E9E9}
.hexagon-110-9:after {border-top: 31.75px solid #E9E9E9}
.hexagon-110-10{background-color: #6E5400}
.hexagon-110-10:before {border-bottom: 31.75px solid #6E5400}
.hexagon-110-10:after {border-top: 31.75px solid #6E5400}
.hexagon-110-11{background-color:#791900}
.hexagon-110-11:before {border-bottom: 31.75px solid #791900}
.hexagon-110-11:after {border-top: 31.75px solid #791900}
.hexagon-110-12{background-color: #014574}
.hexagon-110-12:before {border-bottom: 31.75px solid #014574}
.hexagon-110-12:after {border-top: 31.75px solid #014574}
.hexagon-110-13{background-color: #FFE4B7}
.hexagon-110-13:before {border-bottom: 31.75px solid #FFE4B7}
.hexagon-110-13:after {border-top: 31.75px solid #FFE4B7}
.hexagon-110-14{background-color: #000000}
.hexagon-110-14:before {border-bottom: 31.75px solid #000000}
.hexagon-110-14:after {border-top: 31.75px solid #000000}
.hexagon-110-15{background-color: #EAFFB4}
.hexagon-110-15:before {border-bottom: 31.75px solid #EAFFB4}
.hexagon-110-15:after {border-top: 31.75px solid #EAFFB4}
.hexagon-110-16{background-color: #222430}
.hexagon-110-16:before {border-bottom: 31.75px solid #222430}
.hexagon-110-16:after {border-top: 31.75px solid #222430}

.hexagon-110-17{background-color: #FFF}
.hexagon-110-17:before {border-bottom: 31.75px solid #FFF}
.hexagon-110-17:after {border-top: 31.75px solid #FFF}

.loader-odd {
    border-top: 10px solid #d3d3d3!important;
    width: 175px;
    height: 175px;
    animation: spin 40s linear infinite
}

.loader-even {
    border-top: 10px solid #d3d3d3!important;
    border-left: 10px solid #d3d3d3!important;
    border-right: 10px solid #d3d3d3!important;
    width: 175px;
    height: 175px;
    animation: spin-rev 40s linear infinite
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes spin-rev {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}


body{min-width:275px!important}


/*
.hexagon-40 {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #67FDD0;
  margin: 11.55px 0;
}

.hexagon-40:before,
.hexagon-40:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hexagon-40:before {
  bottom: 100%;
  border-bottom: 11.55px solid #67FDD0;
}

.hexagon-40:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #67FDD0;
}
*/



.hexagon-40-bw {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #000000;
  margin: 11.55px 0;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}

.hexagon-40-bw:before,
.hexagon-40-bw:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 28.28px;
  height: 28.28px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 3.8579px;
}

.hexagon-40-bw:before {
  top: -14.1421px;
  border-top: solid 2.8284px #ffffff;
  border-right: solid 2.8284px #ffffff;
}

.hexagon-40-bw:after {
  bottom: -14.1421px;
  border-bottom: solid 2.8284px #ffffff;
  border-left: solid 2.8284px #ffffff;
}


.hexagon-40-bg {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #000000;
  margin: 11.55px 0;
  border-left: solid 2px #67FDD0;
  border-right: solid 2px #67FDD0;
}

.hexagon-40-bg:before,
.hexagon-40-bg:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 28.28px;
  height: 28.28px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 3.8579px;
}

.hexagon-40-bg:before {
  top: -14.1421px;
  border-top: solid 2.8284px #67FDD0;
  border-right: solid 2.8284px #67FDD0;
}

.hexagon-40-bg:after {
  bottom: -14.1421px;
  border-bottom: solid 2.8284px #67FDD0;
  border-left: solid 2.8284px #67FDD0;
}



.hexagon-90-bw {
  position: relative;
  width: 90px; 
  height: 51.96px;
  background-color: #000000;
  margin: 25.98px 0;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}

.hexagon-90-bw:before,
.hexagon-90-bw:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 63.64px;
  height: 63.64px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.1802px;
}

.hexagon-90-bw:before {
  top: -31.8198px;
  border-top: solid 2.8284px #ffffff;
  border-right: solid 2.8284px #ffffff;
}

.hexagon-90-bw:after {
  bottom: -31.8198px;
  border-bottom: solid 2.8284px #ffffff;
  border-left: solid 2.8284px #ffffff;
}







.hexagon-90-bg {
  position: relative;
  width: 90px; 
  height: 51.96px;
  background-color: #000000;
  margin: 25.98px 0;
  border-left: solid 4px #00ffff;
  border-right: solid 4px #00ffff;
}

.hexagon-90-bg:before,
.hexagon-90-bg:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 63.64px;
  height: 63.64px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.1802px;
}

.hexagon-90-bg:before {
  top: -31.8198px;
  border-top: solid 5.6569px #00ffff;
  border-right: solid 5.6569px #00ffff;
}

.hexagon-90-bg:after {
  bottom: -31.8198px;
  border-bottom: solid 5.6569px #00ffff;
  border-left: solid 5.6569px #00ffff;
}








.hex-btn-txt {z-index: 2;position: absolute;top: 1px}

.black-50 {background: rgba(0, 0, 0, 0.5)}

.black-75{background-color: rgba(0,0,0,0.75)}

.hex-opacity-min{opacity:0.95}

.hexagon-100 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #ffffff;
  margin: 28.87px 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.hexagon-100:before,
.hexagon-100:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
}

.hexagon-100:before {
  top: -35.3553px;
  border-top: solid 7.0711px transparent;
  border-right: solid 7.0711px transparent;
}

.hexagon-100:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px transparent;
  border-left: solid 7.0711px transparent;
}

.hexagon {
  position: relative;
  width: 500px; 
  height: 288.68px;
  background-color: transparent;
  margin: 144.34px 0;
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
  top: 15px;
  margin: 0px 30px;
  z-index: 3
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 353.55px;
  height: 353.55px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 68.2233px;
}

.hexagon:before {
  top: -176.7767px;
  border-top: solid 7.0711px #ffffff;
  border-right: solid 7.0711px #ffffff;
}

.hexagon:after {
  bottom: -176.7767px;
  border-bottom: solid 7.0711px #ffffff;
  border-left: solid 7.0711px #ffffff;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: bold;
    font-size: 30px;
  opacity: 1;
  line-height:30
}
input::-moz-placeholder { /* Firefox 19+ */
  font-weight: bold;
    font-size: 30px;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: bold;
    font-size: 30px;
  opacity: 1;
  line-height:30
}
input:-moz-placeholder { /* Firefox 18- */
  font-weight: bold;
    font-size: 30px;
  opacity: 1;
}

.hexagon-560 {
  position: relative;
  width: 560px; 
  height: 323.32px;
  margin: 161.66px 0;
  background-size: auto 646.6323px;
  background-position: center;
  margin:0 auto!important
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 395.98px;
  height: 395.98px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 82.01px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 560.0000px;
  height: 323.31615074619043px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-161.6581px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-161.6581px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-161.6581px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -197.9899px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -197.9899px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon-560:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 560.0000px;
  height: 323.3162px;
  z-index: 2;
  background: inherit
}

.hex-container{padding:106px 0px 180px 0px!important}
.form-submit{padding: 0px 80px;position: absolute;z-index: 2}
.submit-btn{overflow: inherit}
.font-30{font-size: 30px}

@media screen and (max-width: 650px) {
  .zoom-out{zoom:75%}
  .hexagon-560 {
    background-image: none!important;
    width: 100%;
  }

  .hexagon{width: 100%; border:none;margin: 0px}
  .hexagon:after, .hexagon:before, .hexBottom, .hexTop {display: none}
  .hex-container{padding: 0px 0px 80px 0px!important}
  .form-submit{padding: 0}
  .submit-btn{background:#DFDFDF}
}


.hexagon-45 {
  position: relative;
  width: 45px; 
  height: 25.98px;
  background-color: #111;
  margin: 12.99px 0;
}

.hexagon-45:before,
.hexagon-45:after {
  content: "";
      left: 0;
  position: absolute;
  width: 0;
  border-left: 22.5px solid transparent;
  border-right: 22.5px solid transparent;
}

.hexagon-45:before {
  bottom: 100%;
  border-bottom: 12.99px solid #111;
}

.hexagon-45:after {
  top: 100%;
  width: 0;
  border-top: 12.99px solid #111;
}





.hexagon-65 {
  position: relative;
  width: 65px; 
  height: 37.53px;
  background-color: #67FDD0;
  margin: 18.76px 0;
}

.hexagon-65:before,
.hexagon-65:after {
  content: "";
      left: 0;
  position: absolute;
  width: 0;
  border-left: 32.5px solid transparent;
  border-right: 32.5px solid transparent;
}

.hexagon-65:before {
  bottom: 100%;
  border-bottom: 18.76px solid #67FDD0;
}

.hexagon-65:after {
  top: 100%;
  width: 0;
  border-top: 18.76px solid #67FDD0;
}


.hexagon-75 {
  position: relative;
  width: 75px; 
  height: 43.30px;
  background-color: rgba(0,0,0,0.5);
  margin: 21.65px 0;
}

.hexagon-75:before,
.hexagon-75:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent;
}

.hexagon-75:before {
  bottom: 100%;
  border-bottom: 21.65px solid rgba(0,0,0,0.5);
}

.hexagon-75:after {
  top: 100%;
  width: 0;
  border-top: 21.65px solid rgba(0,0,0,0.5);
}