<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-exclamation-triangle"></i> {%trans%}warning{%endtrans%}</b></h5>
</header>

<div class="w3-container">
  
  {{ form_start(form, {'attr': {'id': 'warning-form'}})}}
    <div class="w3-padding-16 w3-row-padding w3-sand w3-border">
      <div class="w3-col l12">
        {{ form_widget(form.is_active)}}
        <label>{%trans%}active{%endtrans%}</label>
      </div>
      <div class="w3-col l6 m12 s12">
       
      </div>

   {% for locale in locales%}

    <div class="w3-col s12 l12 m12">

      <label>{% trans %}text{% endtrans %} {% set k = locale.name|split('_') %} {{ k[1] }}</label>
      <div class="w3-row">
        <div class="w3-col" style="width:45px">
          <img src="{{locale.filename}}" style="height:45px" class="w3-border w3-opacity-min" title="{{locale.name}}">
        </div>
        <div class="w3-rest">
        {% for translated in warning.locales_translated%}
          {%if locale.id == translated.locale_id%}
          <input type="text" data-locale-id="{{locale.id}}" name="locale" class="w3-input w3-border w3-white" value="{{translated.name}}" placeholder="{{locale.name}}">
          {%endif%}
        {% endfor %}

        <input type="hidden" name="translated">
        <input type="hidden" name="id" value="{{warning.id}}">
        </div>
      </div>
    </div>
    {% endfor %}
      <div class="w3-hide">
        {{ form_widget(form.submit)}}
      </div>
    </div>

    <div class="w3-row-padding w3-border-top">
      <div class="w3-col s12 w3-margin-top w3-margin-bottom">
        <span class="w3-btn-block w3-margin-left w3-right w3-button w3-border w3-green" onclick="$('#warning-form').trigger('submit')">
           <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
        </span>
      </div>
    </div>

  {{ form_end(form) }}

</div>
      
<script>

  $('#warning-form').on('submit',function(e){
    e.preventDefault()
    arr = []
    $('input[name=locale]').each(function( index ) {
      arr.push({name:$(this).val(), locale_id:$(this).attr('data-locale-id')})
    })
    $('input[name=translated]').val(JSON.stringify(arr))
    $('.w3-overlay').show()
    $('.required').addClass('w3-hide')
    setTimeout(function(){
      $.ajax({  
        url:'{{ path('admin_warning_edit') }}',
        type: "POST",
        data: $('#warning-form').serialize(),
        success: function(data){
          $('.w3-overlay').hide()
          if(data.status ==1)
            ajaxUpload('warning')
          else{
            var obj=''
            for(i=0;i<data.data.length;i++)
                obj+= data.data[i]+'<br>'
            $('#set-fields').html(obj)
            $('#modal-fields').show()
          }
        },
        error:function(data){
          $('.w3-overlay').hide()
          $('#modal-error').show()
        }
      })
    }, 500)
  })

</script>

