<!DOCTYPE html>
<html lang="en">
<title>advertising web development cartoes sites publicidade programacao</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="keywords" content="web design, cartoes, sites, publicidade, desenvolvimento software">
<meta name="title" content="Desgin de comunicação e desenvolvimento criação de Aaplicações">
<meta name="description" content="software à medida, publicidade e sites, design, webdesign, logotipos, logo, 3d render, algarve, portugal, darioviegas, dario viegas, illustration, ilustracao, design grafico, graphic, design, programming, programacao, html5, php, brand, branding, marketing digital, analogico, cmyk, rgb, fotografia, photography, print, css, java">

    <head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/home.min.css') }}">
        <style> 
        @font-face {font-family: Myriad;src: url({{ asset('fonts/Myriad_Pro_Black_Condensed.otf') }})}
        body{min-width: 340px!important}
        </style>
        <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        
        <script>
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    "palette": {
                        "popup":{"background":"rgba(0,0,0,0.4)","text":"#DDD"},
                        "button":{"background":"#67FDD0","text":"#000"}},
                        "content": {"message": "This website uses cookies to ensure you get the best experience on our website<br>", 
                        "dismiss": "Got It",
                        "link": "Know more about cookies.",
                        "href": "https://cookies.insites.com/about-cookies/"
                    }
                })
            })
        </script>

    </head>

    <body>
    	<div class="w3-overlay" style="z-index: 999999" onclick="$(this).hide()">
            <div class="w3-display-middle w3-center">
                <i class="w3-text-white fa-4x fa fa-circle-o-notch fa-spin" style="margin-bottom:10px!important"></i>
            </div>
        </div>
    	{%include 'banner.html' %}

    	{# %include 'latest_works.html' % #}

        {%include 'skills.html' %}

    	{%include 'services.html' %}

    	{%include 'contacts.html' %}

    	{%include 'footer.html' %}
    
        {%include 'modals.html' %}
    
    	{%include 'js.html' %}
    </body>
</html>
