
<section class="w3-container w3-padding-16 contacts">
	<div class="w3-row-padding w3-padding-16">
		<div class="w3-col s12 w3-margin-bottom">
      <h2 class="w3-margin-left"><b class="w3-jumbo w3-text-gray CONTACT_US_INLINE">CONTACT US</b></h2>
    </div>	
		<div class="w3-col l12 w3-margin-bottom hex-container">
      <div class="hexagon-560 w3-margin-bottom">
       <div class="hexTop"></div>
        <div class="hexBottom"></div>
          <div class="hexagon">
            <form id="submit-info" class="form-submit">
              <div class="w3-col s12" style="margin-top: -36px">
                <input type="hidden" name="locale" id="locale" value="en">
                <input type="text" class="NAME font-30 w3-input w3-transparent w3-border-aqua-green w3-text-aqua-green w3-center w3-margin-bottom" name="name" placeholder="NAME">
              </div>
                
              <div class="w3-col s12">
                <input type="text" class="EMAIL font-30 w3-input w3-transparent w3-border-aqua-green w3-text-aqua-green w3-center w3-margin-bottom" name="email" placeholder="EMAIL">
              </div>
              
              <div class="w3-col s12 w3-center">
                <label class="w3-text-aqua-green font-30 MSN"><b>MESSAGE</b></label>
                <textarea name="msn" class="w3-input w3-transparent w3-border-aqua-green w3-text-aqua-green"></textarea>
              </div>
              
              <div class="w3-col s12 w3-padding-16 w3-center">
                <button class="submit-btn w3-btn w3-hover-aqua hexagon-100">
                  <div class="hex-btn-txt w3-xlarge" style="top: 10px;left: 0px;width:100%">
                    <b class="SEND w3-center">SEND</b>
                  </div>
                </button>
              </div>
              </form>
                  </div>
                </div>

    </div>
  </div>
</section>
