
<style>
.hexagon-560 {background-image: url('{{ asset('images/hexagon-500.jpg')}}')}
.bgimg-5 {background-image: url('{{ asset('images/bg_5.jpg') }}');background-attachment: inherit!important;background-size: contain!important}
.privacy{font-size:11.6px; color:#67fdd0}
input[type="text"], textarea {background-color :transparent; color: #67FDD0}
@media (max-width: 650px){.privacy, input[type="text"], textarea, .message{color:#000!important;text-align: left!important}
.hexagon-560:after{width:100%!important}
}

</style>

<section class="w3-container w3-padding-16 contacts bgimg-5">
	<div class="w3-row-padding w3-padding-16">

		<div class="w3-col s12 w3-margin-bottom">
      <h2 class="w3-margin-left"><b class="w3-jumbo w3-text-gray CONTACT_US_INLINE">CONTACT US</b></h2>
    </div>	
		
    <div class="w3-col l12 w3-margin-bottom hex-container">
      <div class="hexagon-560 w3-margin-bottom">
        <div class="hexTop"></div>
          <div class="hexBottom"></div>
            <div class="hexagon">
              <form id="submit-info" class="form-submit row">
                <div class="w3-col s12" style="margin-top: -36px">
                  <input type="hidden" name="locale" id="locale" value="en">
                  <input type="text" class="NAME font-30 w3-input w3-border-aqua-green w3-text-aqua-green w3-center w3-margin-bottom" name="name" placeholder="NAME">
                </div>
                
              <div class="w3-col s12">
                <input type="text" class="EMAIL font-30 w3-input w3-border-aqua-green w3-text-aqua-green w3-center w3-margin-bottom" name="email" placeholder="EMAIL">
              </div>
              
              <div class="w3-col s12 w3-center">
                <label class="message w3-text-aqua-green w3-block font-30 "><b class="MSN">MESSAGE</b> <sup class="MIN_20 w3-small w3-text-black">Min.20 chars.</sup></label>
                <textarea name="msn" class="w3-input w3-border-aqua-green" style="height:88px;resize:none; font-size:20px"></textarea>
              </div>
              
              <div class="w3-col s12 w3-margin-top">
                <input type="checkbox" class="w3-check" name="privacy" value='1'>
                <label class="PRIVACY_AGREE_TXT privacy">I agree with Privacy Policy and Terms & Conditions</label>
                <span style="overflow:inherit;float:right;margin-top:8px" class="w3-btn hexagon-40-bw w3-hover-white w3-text-white" onclick="$('#modal-terms').show()">
                  <div class="hex-btn-txt SEE" style="left:7px">See</div>
                </span>
              </div>

              <div class="w3-col s12 w3-padding-16 w3-center" style="margin-top:-12px"> 
                <button class="submit-btn w3-btn w3-hover-aqua-green hexagon-100">
                  <div class="hex-btn-txt w3-xlarge" style="top: 10px;left: 0px;width:100%">
                    <b class="SEND w3-center">SEND</b>
                  </div>
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

