<style type="text/css">
.bgimg-6 {background-image: url('{{ asset('images/bg_6.png') }}')}
</style>


<footer class="w3-center w3-bottombar w3-border-black bgimg-6" id="footer" style="min-height: 101px">
	<div class="w3-row">
		<div class="w3-col s12 w3-section" style="height: 62px;padding-top: 20px">
	 		<button  style="overflow: inherit" class="w3-btn w3-hover-aqua hexagon-40-bw w3-text-white" onclick='window.open()'>
	 			<div class="hex-btn-txt" style="left:10px"><i class="w3-xlarge fa fa-facebook"></i></div>
	 		</button>
	  		<button style="overflow: inherit" class="w3-btn w3-hover-aqua hexagon-40-bg w3-text-aqua-green" onclick='window.open()'>
	  			<div class="hex-btn-txt" style="left: 5px;top:-1px"><i class="fa fa-behance w3-xlarge"></i></div>
	  		</button>
	   		<button style="overflow: inherit" class="w3-btn w3-hover-aqua hexagon-40-bw w3-text-white" onclick='window.open()'>
	   			<div class="hex-btn-txt" style="left:8px;top: -2px"><i class="fa fa-linkedin w3-xlarge"></i></div>
	   		</button>
			<div class="w3-xlarge w3-text-aqua-green w3-hide-small" style="margin-top: -66px;margin-left: 280px">
	   			<b class="w3-xxlarge CONTACT">CONTACT</b><br>
	   			<b class="w3-xlarge w3-text-white" style="margin-top:-10px;position: absolute;margin-left:-54px">96 91 51 411</b>
			</div>
	   	</div>
	   	<div class="w3-col s12 w3-center w3-hide-large w3-hide-medium">
	   		<div class="w3-xlarge w3-text-aqua-green">
	   			<b class="w3-xxxlarge CONTACT">CONTACT</b><br>
	   			<b class="w3-xxlarge w3-text-white">96 91 51 411</b>
			</div>
	   	</div>
	</div>
</footer>
