<div id="modal-fields" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-yellow w3-border-amber w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-fields').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-info-circle"></i>
            <span class="CHECK">Check!</span>
          </h2>
          <div class="NAME w3-hide required">NAME</div>
          <div class="EMAIL w3-hide required">EMAIL</div>
          <div class="MSN w3-hide required">MESSAGE</div>
          <div class="EMAIL_INVALID w3-hide required">INVALID EMAIL</div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-error" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-red w3-border-red w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-error').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-warning"></i>
            <span class="CHECK">Check!</span>
          </h2>
          <div class="WIFI_TXT">Wifi-Connection, try again</div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-success" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-green w3-border-green w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-success').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-check"></i>
            <span class="SUCCESS">Success</span>
          </h2>
          <div class="SUCCESS_TXT">Request submitted, Thank you</div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-works" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-col w3-white s12 w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-works').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2 class="w3-center">
            <span class="LATEST_WORKS_INLINE w3-xxxlarge">LATEST WORKS</span>
          </h2>
          <div class="w3-xxlarge" id="set-works"></div>
        </div>
      </div>
    </div>
  </div>
</div>