<div id="modal-fields" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-yellow w3-border-amber w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-fields').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-info-circle"></i>
            <span class="CHECK">Check!</span>
          </h2>
          <div class="NAME w3-hide required">NAME</div>
          <div class="EMAIL w3-hide required">EMAIL</div>
          <div class="MSN w3-hide required">MESSAGE</div>
          <div class="PRIVACY_TXT w3-hide required" style="text-transform:uppercase">Privacy Policy and Terms & Conditions</div>
          <div class="EMAIL_INVALID w3-hide required">INVALID EMAIL</div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-error" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-red w3-border-red w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-error').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-warning"></i>
            <span class="CHECK">Check!</span>
          </h2>
          <div class="WIFI_TXT">Wifi-Connection, try again</div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-success" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-pale-green w3-border-green w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-success').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-check"></i>
            <span class="SUCCESS">Success</span>
          </h2>
          <div class="SUCCESS_TXT">Request submitted, Thank you</div>
          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-works" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-col w3-white s12 w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-works').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2 class="w3-center">
            <span class="LATEST_WORKS_INLINE w3-xxxlarge">LATEST WORKS</span>
          </h2>
          <div class="w3-xxlarge" id="set-works"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modal-terms" class="w3-modal" style="z-index: 9999999; padding-top: 60px; padding-bottom: 32px">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:400px">
    <div class="w3-col s12">
      <div class="w3-row">
        <div class="w3-panel w3-leftbar w3-col s12 w3-white w3-border-blue w3-left-align w3-large">
          <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-terms').hide()">
            <i class="fa fa-times"></i>
          </span>
          <h2>
            <i class="fa fa-info-circle"></i>
              <span class="PRIVACY_TXT">Privacy Policy and Terms & Conditions</span>
          </h2>

 <div class="PRIVACY_TERMS">
When accessing the site and the pages related to it, the user undertakes to respect and accept the respective policy and privacy of use. <br>
A. Privacy and Data Protection Policy <br>
The user is solely and exclusively responsible for any and all information that he or she provides on this site. The company will process data, for the purpose of providing services and administrative and commercial management, of the information made available. <br>
If the user intends to modify or delete the information provided, he must send a written communication addressed to the company, by email. <br>
The Company does not provide or make available to third parties the personal information provided by the users of this website for purposes not foreseen in its intention
expressed, namely for profit and / or commercial purposes. <br>
The Company performs all regular procedures to preserve the privacy of the user of this website. It may, however, be required by law to formally disclose the information provided to the competent authorities. <br>
The use and / or external disclosure, authorized by the Company, of the information contained in this website, implies the mention of the origin and authorship of that information. <br> <br>
B) Collection and use of non-personal information. <br>
As with many other sites, our site may use "cookies" or other technologies to help us deliver specific content to your interests, process your reservation or requests and / or analyze your visiting patterns. Cookies, by themselves, cannot be used to reveal your individual identity. This information identifies your browser, not you, to our servers when you visit our site. If you want to remove or block cookies at any time on your computer, you can update your browser settings (see your browser´s "Help" menu for delete or block cookies).
</div>

          <div class="w3-margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>