<style type="text/css">
.bgimg-3 {background-image: url('{{ asset('images/bg_3.jpg') }}')}
</style>

<section class="w3-container w3-padding-16 bgimg-3 services">
	<div class="w3-row-padding w3-padding-16">
    <div class="w3-col s12 w3-margin-bottom">
      <h2 class="w3-margin-left w3-text-white">
        <b class="w3-jumbo SERVICES">SERVICES</b>
      </h2>
    </div> 
    {% for service in services %}
    <div class="w3-center w3-col s12 m6 l4 w3-margin-bottom">
      <div class="w3-padding-32">
        <div class="hexagon-130-border center">
          <img class="img-hex-130" src="{{ service.img }}" alt="{{ service.alt }}">
        </div>
      </div>
      <h2 class="w3-text-white {{ service.class }} ">{{ service.name|raw }}</h2>
    </div>
    {% if loop.index == 8 %}
    <div class="w3-center w3-col s0 m3 l0 w3-hide-small w3-hide-large">&nbsp;</div>
    {% endif %}
  {% endfor %}
  </div>		
</section>