
<style type="text/css">
.bgimg-4 {background-image: url('{{ asset('images/bg_4.jpg') }}')}
.circle-chart__circle {
  animation: circle-chart-fill 10s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100}
}
.percent{font-size: 4em;color: #FFF;text-shadow: 1px 1px 1px #000;margin-top: -18px;position: absolute;margin-left: 28px}

@media screen and (max-width: 650px){
.percent{margin-top:-10px}
}
.per{position:absolute;font-size:24px; top:4px;right:-20px}

</style>

<section class="bgimg-4 w3-container w3-padding-16 w3-white skills">
	<div class="w3-row-padding w3-padding-16" style="max-width:1410px;margin:0 auto">
		<div class="w3-col s12">
      <h2 class="w3-margin-left"><b class="w3-jumbo w3-text-gray SKILLS">SKILLS</b></h2>
    </div>

    {% for skill in skills %}

    <div class="w3-center w3-col s6 m6 l3 zoom-out">
      <div class="w3-padding-8 set-margin">
        <div class="hexagon-110-{{loop.index}}">
          <!--img style="width:64px" class="w3-hide" src="{{ skill.img}}" alt="{{ skill.alt}}"-->
          <p class="percent">{{ skill.percentage}} <b class="per">%</b></p>
        </div>
        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="175" height="175" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle-chart__background" stroke="#d3d3d3" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
          <circle class="circle-chart__circle" stroke="{{skill.border}}" stroke-width="2" stroke-dasharray="{{ skill.percentage }},100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
        </svg>
      </div>
      <h1 class="w3-text-gray w3-xlarge">{{ skill.name|raw }}</h1>
    </div>
    {% endfor %}
	</div>
</section>

